* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

:root {
  --warning: #FECC1B;
  --success: #6BD968;
  --info: #3DEFE9;
  --danger: #F44250;
  --primary: #3992FF;
  --purple: #D83BD2;
  --white: #ffffff;
  --lightwhite: #FFFCE1;
  --bglight: #0E100F;
  --lightgray1: #dddddd;
  --lightgray2: #cccccc;
  --lightgray3: #bbbbbb;
  --lightgray4: #aaaaaa;
  --gray1: #959595;
  --gray2: #777777;
  --gray3: #555555;
  --gray4: #333333;
  --darkpink: #ff03c0;
  --primary: #0d6efd;
  --green: #04AA6D;
  --orange: #ff9900;
  --red: #dc3545;
  --black: #111;
}

body {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFFCE1;
  color: #0E100F;
  line-height: 1.5;
  overflow: hidden;
}


a:hover {
  color: var(--primary);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.active {
  color: var(--green) !important;
  text-decoration: underline !important;
  text-underline-offset: 4px;
}

/* Code styling  */
.left {
  background-color: #FFFCE1;
  font-size: 1.15rem;
  border-right: 2px solid #999;
  width: 33%;
  height: 100%;
  position: fixed;
  top: 70px;
  left: 0;
  padding-top: 20px;
  padding-bottom: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.left::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.left::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 8px;
}

.left .panel {
  border-bottom: 1.5px solid #666;
  color: #0E100F;
  padding: 20px 30px;
}

.left .panel .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel .heading * {
  font-weight: 500;
}

.panel .slider-container {
  padding-top: 8px;
}

input[type="range"] {
  background-color: #bbb;
  border-radius: 8px;
  appearance: none;
  height: 12px;
  height: 10px;
  width: 100%;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--primary);
  width: 12px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-thumb{
  outline: 4px solid #262626;
  outline-offset: 1px;
}


input[type="color"],
input[type="file"] {
  border: none;
  background-color: inherit;
  padding: 0;
  width: 70px;
  height: 32px;
  cursor: pointer;
}

input[type="text"] {
  font-size: 1.25rem;
  padding: 10px 12px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  color: #0E100F;
  border: 2px solid #666;
  background-color: inherit;
  margin-top: 10px;
}

.add,
.remove {
  border: 2px solid #333;
  color: #0E100F;
  background: inherit;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600 !important;
  padding: 10px 20px;
  font-size: 1.2rem;
}

select {
  background-color: #ccc ;
  color: #111;
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  width: 120px;
  cursor: pointer;
}


.main {
  width: 67%;
  position: fixed;
  top: 70px;
  right: 0;
  height: 100%;
  padding-bottom: 150px;
  overflow-y: scroll;
}

.main::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.main::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 12px;
}

/* Box Section  */
.box-section {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  min-height: 70vh;
  margin: 0;
}

.main img {
  display: block;
  margin: auto;
  width: 80%;
}

.box-section .box {
  font-size: 2rem;
  line-height: 1.7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-top: 100px !important;
  margin-bottom: 150px !important;
}

.flex-box {
  font-size: 2rem;
  width: 100px;
  margin: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 155, 241, 0.787);
  padding: 30px;
}

.btn {
  font-size: 1.3rem;
  background-color: rgb(68, 155, 241);
  color: #0E100F;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.box-section .text {
  padding: 40px 80px;
}


/* Answer Section  */
.answer-code {
  font-size: 1.3rem;
  background-color: #0E100F;
  color: #FFFCE1;
  margin: 30px 10px;
  border-radius: 8px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.answer-code button {
  font-size: 1.3rem;
  background-color: rgb(68, 155, 241);
  color: #111;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 7px 20px;
  position: absolute;
  right: 20px;
  top: 60px;
  cursor: pointer;
}

.answer-code button:hover {
  background-color: rgb(34, 142, 249);
}

.answer-code h3 {
  text-align: center;
  padding: 8px;
  background-color: #333;
  color: #eee;
}

.answer-code pre {
  padding: 10px 30px;
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.answer-code span {
  padding-left: 20px;
  color: #04AA6D;
  word-wrap: break-word;
  white-space: normal;
}

.answer-code .class-name {
  padding-left: 0;
  color: #ddaf4c;
}

/* Responsive Section */
/* Small Laptop  */
@media only screen and (max-width: 1024px) {
  .left {
    width: 45%;
  }

  .main {
    width: 55%;
  }
}


/* Tablet  */
@media only screen and (max-width: 800px) {

  .left {
    border-top: 8px solid var(--green);
    height: 40%;
    width: 100%;
    top: 60%;
    padding: 10px;
    padding-bottom: 100px;
  }

  .left::-webkit-scrollbar {
    width: 15px;
  }

  .panel .heading,
  .panel .btn {
    font-size: 1.4rem;
  }

  input[type="text"],
  select {
    font-size: 1.35rem;
  }

  .main {
    height: calc(60% - 70px);
    width: 100%;
    padding-bottom: 0;

  }

  .box-section {
    min-height: 40vh;
  }

  .box-section .box {
    margin-top: 50px !important;
    margin-bottom: 100px !important;
  }

  .box-section .text {
    padding: 20px 40px;
  }


}